[submodule "LuminaEngine/external/glfw"]
	path = LuminaEngine/external/glfw
	url = https://github.com/FaithKamaraju/glfw.git
[submodule "LuminaEngine/external/vma"]
	path = LuminaEngine/external/vma
	url = https://github.com/FaithKamaraju/VulkanMemoryAllocator.git
[submodule "LuminaEngine/external/glm"]
	path = LuminaEngine/external/glm
	url = https://github.com/FaithKamaraju/glm.git
[submodule "LuminaEngine/external/spdlog"]
	path = LuminaEngine/external/spdlog
	url = https://github.com/FaithKamaraju/spdlog.git
[submodule "LuminaEngine/external/mINI"]
	path = LuminaEngine/external/mINI
	url = https://github.com/FaithKamaraju/mINI.git
[submodule "LuminaEngine/external/enkiTS"]
	path = LuminaEngine/external/enkiTS
	url = https://github.com/FaithKamaraju/enkiTS.git
[submodule "LuminaEngine/external/shaderc"]
	path = LuminaEngine/external/shaderc
	url = https://github.com/FaithKamaraju/shaderc.git
[submodule "LuminaEngine/external/fastgltf"]
	path = LuminaEngine/external/fastgltf
	url = https://github.com/FaithKamaraju/fastgltf.git
[submodule "LuminaEngine/external/cereal"]
	path = LuminaEngine/external/cereal
	url = https://github.com/FaithKamaraju/cereal.git
[submodule "LuminaEngine/external/xxHash"]
	path = LuminaEngine/external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
